@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box; /* Include padding and border in element's total width/height */
}

section{
    padding-bottom: 120px;
    /* display: flex;
    align-items: stretch; */
}

.social-secction{
    margin-top: 0px;
    padding: 0px;
    /* background: #000; */
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 0px 0px 70px;
    margin: 0;
}

.introduction{
    background: black;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 10px 20px;
    /* position: absolute; */
    /* bottom: 0; */
    right: 0;
    
}

#profile{
    height: 220px;
    width: 200px;
    border: 4px solid rgb(201, 224, 201);
    border-radius: 50%;
    margin: 20px;
    margin-top: 100px;
}

.about{
    border: 4px solid rgb(200, 198, 198);
    border-radius: 5px;
    background: #fff;
    margin: 20px;
    padding: 5px;
    /* width: 300px; */
}

#text{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    line-height: 2;
    font-weight: 600;
}

.skill{
    margin-top: 180px;
    margin-bottom: 80px;
    border: 4px solid rgb(111, 109, 109);
    border-radius: 5px;
    width: 1000px;
    height: 740px;
    box-shadow: inset;
    background: #000;
}