@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box; /* Include padding and border in element's total width/height */
}

section{
    padding-bottom: 120px;
    /* display: flex;
    align-items: stretch; */
}

.social-secction{
    margin-top: 0px;
    padding: 0px;
    /* background: #000; */
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 0px 0px 70px;
    margin: 0;
}

.skill{
    background: black;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 10px 20px;
    /* position: absolute; */
    /* bottom: 0; */
    right: 0;
    
}

#profile{
    height: 160px;
    width: 145px;
    border: 4px solid rgb(201, 224, 201);
    border-radius: 50%;
    margin: 20px;
    /* margin-top: 20px; */
}

.about{
    border: 4px solid rgb(200, 198, 198);
    border-radius: 5px;
    background: #fff;
    margin: 10px 20px;
    padding: 5px;
    /* width: 300px; */
}

#text{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    line-height: 2;
    font-weight: 600;
}

.introduction{
    margin-top: 120px;
    margin-bottom: 30px;
    border: 4px solid rgb(111, 109, 109);
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    background: #000;
    /* position: absolute; */
}

/* .introduction{
    overflow: hidden;
} */

/* .introduction::before{
    position: relative;
    content: '';
    width: 80%;
    height: 100%;
    background: #6ac252;
    transform: rotate(45deg);
}

.introduction:hover::before{
    animation: animate2 4s linear infinite;
}

@keyframes animate2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.introduction::after{
    position: relative;
    content: '';
    inset: 5px;
    background: #222;
    border-radius: 8px;
} */


.links{
    margin-top: 30px;
    margin-left: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#socialpic{
    height: 30px;
    width: 30px;
    background: #fff;
    border: 0.5px solid white;
    border-radius: 50%;
    margin: 0;
}

.link-text{
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 40px 480px 0px 480px;
}